<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>


  <appSettings>
    <add key="" />
    <add key="ddms.prefix" value="ddms" />
    <add key="gml.prefix" value="gml" />
    <add key="ism.prefix" value="ISM" />
    <add key="ntk.prefix" value="ntk" />
    <add key="xlink.prefix" value="xlink" />

    <add key="ddms.supportedVersions" value="2.0,3.0,3.1,4.1" />
    <add key="ddms.defaultVersion" value="4.1" />
    <add key="output.indexLevel" value="0" />
    <add key="sample.data" value="data/sample/" />
    <add key="test.unit.data" value="data/test/" />
    <add key="version" value="@ddmsence.version@" />
    <add key="xml.reader.class" value="org.apache.xerces.parsers.SAXParser" />
    <add key="xml.transform.TransformerFactory" value="net.sf.saxon.TransformerFactoryImpl" />

    <add key="2.0.ddms.xmlNamespace" value="http://metadata.dod.mil/mdr/ns/DDMS/2.0/" />
    <add key="2.0.ddms.xsdLocation" value="schemas/2.0/DDMS/ddms.xsd" />
    <add key="2.0.gml.xmlNamespace" value="http://www.opengis.net/gml" />
    <add key="2.0.gml.xsdLocation" value="schemas/2.0/DDMS/gml.xsd" />
    <add key="2.0.ism.cveLocation" value="schemas/2.0/ISM/CVE/" />
    <add key="2.0.ism.cve.xmlNamespace" value="urn:us:gov:ic:cve:v1" />
    <add key="2.0.ism.xmlNamespace" value="urn:us:gov:ic:ism:v2" />
    <add key="2.0.ntk.xmlNamespace" value="" />
    <add key="2.0.ntk.xsdLocation" value="" />
    <add key="2.0.xlink.xmlNamespace" value="http://www.w3.org/1999/xlink" />

    <add key="3.0.ddms.xmlNamespace" value="http://metadata.dod.mil/mdr/ns/DDMS/3.0/" />
    <add key="3.0.ddms.xsdLocation" value="schemas/3.0/DDMS/ddms.xsd" />
    <add key="3.0.gml.xmlNamespace" value="http://www.opengis.net/gml/3.2" />
    <add key="3.0.gml.xsdLocation" value="schemas/3.0/DDMS/gml.xsd" />
    <add key="3.0.ism.cveLocation" value="schemas/3.0/ISM/CVE/" />
    <add key="3.0.ism.cve.xmlNamespace" value="urn:us:gov:ic:cve:v1" />
    <add key="3.0.ism.xmlNamespace" value="urn:us:gov:ic:ism" />
    <add key="3.0.ntk.xmlNamespace" value="" />
    <add key="3.0.ntk.xsdLocation" value="" />
    <add key="3.0.xlink.xmlNamespace" value="http://www.w3.org/1999/xlink" />

    <add key="3.1.ddms.xmlNamespace" value="http://metadata.dod.mil/mdr/ns/DDMS/3.1/" />
    <add key="3.1.ddms.xsdLocation" value="schemas/3.1/DDMS/ddms.xsd" />
    <add key="3.1.gml.xmlNamespace" value="http://www.opengis.net/gml/3.2" />
    <add key="3.1.gml.xsdLocation" value="schemas/3.1/DDMS/gml.xsd" />
    <add key="3.1.ism.cveLocation" value="schemas/3.1/ISM/CVE/" />
    <add key="3.1.ism.cve.xmlNamespace" value="urn:us:gov:ic:cve:v1" />
    <add key="3.1.ism.xmlNamespace" value="urn:us:gov:ic:ism" />
    <add key="3.1.ntk.xmlNamespace" value="" />
    <add key="3.1.ntk.xsdLocation" value="" />
    <add key="3.1.xlink.xmlNamespace" value="http://www.w3.org/1999/xlink" />

    <add key="4.1.ddms.xmlNamespace" value="urn:us:mil:ces:metadata:ddms:4" />
    <add key="4.1.ddms.xsdLocation" value="schemas/4.1/DDMS/ddms.xsd" />
    <add key="4.1.gml.xmlNamespace" value="http://www.opengis.net/gml/3.2" />
    <add key="4.1.gml.xsdLocation" value="schemas/4.1/DDMS/gml.xsd" />
    <add key="4.1.ism.cveLocation" value="schemas/4.1/ISM/CVE/" />
    <add key="4.1.ism.cve.xmlNamespace" value="urn:us:gov:ic:cve" />
    <add key="4.1.ism.xmlNamespace" value="urn:us:gov:ic:ism" />
    <add key="4.1.ntk.xmlNamespace" value="urn:us:gov:ic:ntk" />
    <add key="4.1.ntk.xsdLocation" value="schemas/4.1/NTK/IC-NTK.xsd" />
    <add key="4.1.xlink.xmlNamespace" value="http://www.w3.org/1999/xlink" />
  </appSettings>

</configuration>
